<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume</title>
  <!-- Tailwind CSS -->
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans">

  <nav class="flex justify-between items-center p-6 bg-white shadow-md">
    <h1 class="text-3xl font-bold">Eric David・エリック デビッド・에릭 데이비드</h1>
    <a href="./home.html" class="text-blue-600 text-xl hover:underline">Home</a>
  </nav>

  <div id="resume" class="max-w-5xl mx-auto mt-8 p-6 bg-white shadow-md rounded-lg">
    <section class="mb-8">
      <h2 class="text-xl font-bold border-b pb-2">Education</h2>
      <table class="table-auto w-full mt-4">
        <thead class="bg-gray-200">
          <tr>
            <th class="px-4 py-2 text-left">Institution</th>
            <th class="px-4 py-2">CGPA</th>
            <th class="px-4 py-2">Year</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border px-4 py-2">University of Colorado, Boulder</td>
            <td class="border px-4 py-2 text-center">4.0</td>
            <td class="border px-4 py-2 text-center">2027</td>
          </tr>
          <tr>
            <td class="border px-4 py-2">School Of Engineering and Biomedical Sciences at Pueblo County High SChool</td>
            <td class="border px-4 py-2 text-center">4.81</td>
            <td class="border px-4 py-2 text-center">2023</td>
          </tr>
        </tbody>
      </table>
    </section>

    <section class="mb-8">
      <h2 class="text-xl font-bold border-b pb-2">Experience</h2>
      <table class="table-auto w-full mt-4">
        <thead class="bg-gray-200">
          <tr>
            <th class="px-4 py-2 text-left">Position</th>
            <th class="px-4 py-2 text-left">Description</th>
            <th class="px-4 py-2">Year</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border px-4 py-2 font-semibold">Instructional Assistant (IA), CU Boulder</td>
            <td class="border px-4 py-2">As an Instructional Assistant specializing in Calculus 2, I play a role in supporting the educational journey of students enrolled in calculus courses. I providing assistance to both professors and students to ensure a smooth and effective learning experience as it relates to the SASC Calculus 1 course. I hold office-hours and work with students teachers on a weekly basis.</td>
            <td class="border px-4 py-2 text-center">2024-present</td>
          </tr>
          <tr>
            <td class="border px-4 py-2 font-semibold">Data Entry Clerk Intern, Colorado Legal Services</td>
            <td class="border px-4 py-2">As a data entry clerk for Colorado Legal Services, I accomplished tasks like data entry and contact information gathering to submit to the Emergency Rental Assistance Program, helping people pay off their rent and easing their burdens. I was able to directly help low-income families by providing them rental assistance in their times of need and putting information into a private Colorado database to request funding from their program.</td>
            <td class="border px-4 py-2 text-center">2022-2023</td>
          </tr>
        </tbody>
      </table>
    </section>
    
    <section class="mb-8">
        <h2 class="text-xl font-bold border-b pb-2">Volunteer Experience</h2>
        <table class="table-auto w-full mt-4">
          <thead class="bg-gray-200">
            <tr>
              <th class="px-4 py-2 text-left">Organization</th>
              <th class="px-4 py-2 text-left">Description</th>
              <th class="px-4 py-2">Year</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border px-4 py-2 font-semibold">Humane Society of the Pikes Peak Region</td>
              <td class="border px-4 py-2">I found fulfillment in providing care, companionship, and exercise to the animals housed at the establishment. In choosing the Humane Society of the Pikes Peak Region, I aimed to align my volunteer efforts with an organization that actively promotes compassion, advocacy, and community involvement that can extend beyond just animals.</td>
              <td class="border px-4 py-2 text-center">2019 - now</td>
            </tr>
          </tbody>
        </table>
      </section>

      <section class="mb-8">
        <h2 class="text-xl font-bold border-b pb-2">Achievements</h2>
        <table class="table-auto w-full mt-4">
          <thead class="bg-gray-200">
            <tr>
              <th class="px-4 py-2 text-left">Award</th>
              <th class="px-4 py-2 text-left">Description</th>
              <th class="px-4 py-2">Year</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border px-4 py-2 font-semibold">School of Engineering and Biomedical Science Salutatorian</td>
              <td class="border px-4 py-2">Within the academy of the School of Engineering and Biomedical Sciences, students were ordered in class rank, and at graduation there were the honors of Valedictorian and Salutatorian. Out of the graduating class of around 300 people, I was awarded with the honor of salutatorian of the entire class. I was selected to receive this award because of my GPA which was attributed by the amount of honor and AP classes I took and receiving all A’s in these classes, allowing me to have the 2nd highest GPA in the graduating class.</td>
              <td class="border px-4 py-2 text-center">2023</td>
            </tr>
            <tr>
                <td class="border px-4 py-2 font-semibold">Hurliman Scholar</td>
                <td class="border px-4 py-2">The Hurliman Scholarship is a scholarship that is awarded from the Hurliman Scholarship Foundation in order to assist some of the top students located in Colorado. To be awarded this scholarship is to show and demonstrate top scholastic ability, combined with a high strength of character. They go through an extensive application and interview process in order to be selected as a scholarship recipient. I was selected to receive this award because I demonstrated superior scholastic ability as well as show qualities such as leadership, integrity, community involvement, and a commitment to ethical conduct, aligning with the foundation's emphasis on well-rounded individuals and giving back to their community.</td>
                <td class="border px-4 py-2 text-center">2023</td>
            </tr>
            <tr>
                <td class="border px-4 py-2 font-semibold">National Rural and Small Town Award</td>
                <td class="border px-4 py-2">TThe award is intended to acknowledge the unique challenges faced by these students that arose from living in a rural or small town environment and to help them achieve their college and career goals. In another sense, it also is an award to recognize high achieving students with a lot of potential in areas outside or the cities. I was chosen for this award because I demonstrated academic achievement, community involvement, and leadership potential despite the lack of resources available to me.</td>
                <td class="border px-4 py-2 text-center">2022</td>
            </tr>
          </tbody>
        </table>
      </section>

  </div>

  <footer class="mt-8 text-center text-gray-600">
    <p>© 2024 Eric David. All rights reserved.</p>
  </footer>

</body>
</html>
